p {
  font-size: 1.5rem;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

// p {
//   font-size: 1.5rem;
// }

// input {
//   &.ng-invalid.ng-touched {
//     border: 1.5px solid red;
//   }

//   &.ng-valid.ng-touched {
//     border: 1.5px solid green;
//   }
// }
// p {
//   font-size: 2rem;
//   text-align: center;
//   font-style: italic;
// }
// .card {
//   border: 2px solid black;

//   padding: 10px;
// }
