<h1>Ng Service</h1>

<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle" />
    </div>
    <button class="btn" (click)="addTitle()">Добавить</button>
    <button class="btn" (click)="fetchTodo()">Загрузить</button>
  </div>

  <hr />
  <div *ngIf="loading; else loadingBlock">
    <div class="card" *ngFor="let todo of todos">
      <p>
        <span [class.completed]="todo.completed">{{ todo.title }}</span>
        <span>
          <button class="btn btn-danger">Удалить</button>
          <button class="btn" [disabled]="todo.completed">Завершить</button>
        </span>
      </p>
    </div>
  </div>
  <ng-template #loadingBlock> Loading...</ng-template>
</div>

<!-- * <h1>Ng Service</h1> -->

<!-- *<h1>Own NgModel</h1>

<app-own-form [(ngModel)]="appState"></app-own-form>

<p>AppState:{{ appState }}</p> -->

<!-- *<h1>Own NgModel</h1>

  
<!-- *<h1>Angular Form</h1>


<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div
        class="validation"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <small *ngIf="form.get('email')?.errors?.['required']"
          >Поле email не может быть пустым
        </small>
        <small *ngIf="form.get('email')?.errors?.['email']"
          >Введите корректный email</small
        >
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('password')?.errors?.['required']"
          >Пароль введен некорректно</small
        >
        <small *ngIf="form.get('password')?.errors?.['minlength']"
          >Длина должна быть не менее:
          {{
            form.get("password")?.errors?.['minlength'].requiredLength
          }}
          <br />
          Сейчас кол-во символов:
          {{form.get("password")?.errors?.['minlength'].actualLength}}
        </small>
        <small *ngIf="form.get('password')?.errors?.['restrictedEmails']"
          >Email {{ form.get("email")?.value }} запрещен</small
        >
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="Город" />
      </div>

      <button class="btn" type="button" (click)="setCapital()">
        Выбрать столицу
      </button>
    </div>

    <div class="card">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button">Добавить умение</button>
      <div class="form-control" let idx="index">
        <label>Умение{{ idx }}</label>
        <input type="text" [formControlName]="idx" />
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">
      Отправить
    </button>
  </form>
</div> -->

<!-- *<h1>Angular Form</h1>


<!--* <h1>Angular Service</h1>

<h2>App Count :{{ appCounterService.counter }}</h2>

<button (click)="appCounterService.increace()">+</button>
<button (click)="appCounterService.decreace()">-</button>
<hr />
<h2>Local Count :{{ localCounterService.counter }}</h2>

<button (click)="localCounterService.increace()">+</button>
<button (click)="localCounterService.decreace()">-</button>

<app-counter></app-counter> -->
<!-- *<h1>Angular Pipe</h1> -->

<!-- <pre>{{ movie | json }}</pre> -->
<!-- <pre>{{ film | json }}</pre> -->
<!-- *------------------------ Pipe - Filter -------------------------- -->
<!-- <button (click)="fieldTitle = 'title'">Title</button>
<button (click)="fieldTitle = 'text'">Text</button>

<input type="text" [(ngModel)]="search" />
<div *ngFor="let post of posts | filter : search : fieldTitle">
  <h2>{{ post.title }}</h2>
  <p>{{ post.text }}</p>
</div> -->
<!-- *------------------------ Pipe - Filter -------------------------- -->

<!-- <p>{{ "i went to Cacacuda" | exMark }}</p> -->
<!-- *------------------------------ Make u own Pipe--------------------------- -->
<!-- <p>{{ 10 | mult : 2 }}</p>
<p>{{ 10 | mult : 1 }}</p>
<p>{{ 10 | mult : 3 }}</p>
<p>{{ 10 | mult : 5 }}</p>
<p>{{ 10 | mult : 10 }}</p> -->
<!-- <pre>{{ obj | json }}</pre> -->
<!-- <p>{{ n | currency }}</p>
<p>{{ n | percent }}</p>
<p>{{ n }}</p> -->
<!-- *------------------------------ Make u own Pipe--------------------------- -->

<!-- *------------------------------ Pipe Date--------------------------- -->
<!-- <h2>{{ date | date : "fullDate" }}</h2>
<h2>{{ date | date : "longDate" }}</h2>
<h2>{{ date | date : "long" }}</h2>
<h2>{{ date | date : "MMMM dd yyyy hh:mm:ss" }}</h2> -->
<!-- *------------------------------ Pipe Date--------------------------- -->
<!-- <p>{{ str | uppercase | lowercase | titlecase }}</p>
<h2>{{ str | slice : 1 - 4 }}</h2>  -->

<!-- *------------------------------ Pipe Number--------------------------- -->
<!-- <p>{{ e | number : "1.1-1" }}</p>
<p>{{ e | number : "1.1-9" }}</p>
<p>{{ e | number : "3.1" }}</p>
<p>{{ e | number : "1.0-0" }}</p> -->
<!-- *------------------------------ Pipe Number--------------------------- -->

<!-- *<h2>Angular Directive</h2>

<p
  appStyle="purple"
  [dStyle]="{
    fontWeigth: 'bold',
    border: '1px solid black',
    borderRadius: '5px',
    fontSize: '40px',
    padding: '20px',
    color: 'purple'
  }"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione repellendus
  labore fuga, in fugiat ab.
</p>

<p
  appStyle="green"
  [dStyle]="{
    fontWeigth: 'bold',
    border: '4px solid green',
    borderRadius: '5px',
    fontSize: '40px',
    padding: '20px',
    color: 'green'
  }"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione repellendus
  labore fuga, in fugiat ab.
</p>

<p
  appStyle
  [dStyle]="{
    color: 'red',
    border: '2px dashed green',
    fontSize: '60px',
    fontWeigth: 'bold',
    borderRadius: '5px',
    padding: '20px'
  }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, maxime.
</p>

<button (click)="isVisible = !isVisible">Toggle!</button>

<ng-template [ngIf]="!isVisible">
  <div class="card">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, pariatur?
  </div>
</ng-template> -->

<!-- <div class="card" *ngIf="!isVisible">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, pariatur?
</div> -->

<!-- <app-post (onAdd)="updatePosts($event)"></app-post>
<hr />
<app-post-form *ngFor="let p of posts" [post]="p">
  <small *ngIf="p.text.length > 10; else short">Post too small</small>
  <ng-template #short>Post too long</ng-template>
</app-post-form> -->
